{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<h1>Register</h1>

		{{ form_start(registrationForm, {'attr': {'id': 'sumitForm', 'class': 'devis'}}) }}
		{{ form_row(registrationForm.email, {'attr': {'class': 'champ champ__input'}}) }}
		{{ form_row(registrationForm.plainPassword, {
			'attr': {'class': 'champ champ__input'},
            label: 'Mot de passe'
        }) }}

		<button style="margin-top:24px" type="submit" id="btnSoumettre" class="btn" disabled>Register</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
