{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<div class="show">
		<h1>{{ category.label|capitalize }}</h1>
		<p>
			Retrouvez les articles concernant la catégorie "{{ category.label }}" ici.
		</p>

		<div class="show__container">
			{% for article in category.articles %}
				<a href="{{ path('app_article_show', {'id': article.id}) }}" class="show__item">
					<div>
						<p><strong>{{ article.title }}</strong></p>
					</div>
					<div>
						<p>{{ article.userId}}</p>
					</div>
				</a>
			{% else %}
				<p>Aucun résultat trouvé</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
